<h1>Home page</h1>
<%

#puts @zip.to_s

response = HTTParty.get('https://mdms.owenscorning.com/api/v1/product/shingles?zip='+@zip.to_s)
body = JSON.parse(response.body)

#puts body[@line]["name"]
#body[@line]["shingle_colors"].each do |key, array|
#  puts key["name"]
#  puts key["swatch_160x160_url"]
#end
#puts "*"
#puts @line
#puts @uline
#puts "*"

iline = body.index{ |item| item['uid']==@uline}

puts @color

icolor = body[iline]['shingle_colors'].index{|item| item['name']==@color}

puts icolor

colornames = body[iline]['shingle_colors'].map{|item| item['name']}
swatches = body[iline]['shingle_colors'].map{|item| item['swatch_160x160_url']}
heros = body[iline]['shingle_colors'].map{|item| item['swatch_768x485_url']}


# newline(this)
%>
Zip: <input type=text id=zip value=<%=@zip%> >
<%= button_tag "Change Zip",  :onClick=>'changezip()' %><br/>

<%= button_tag "Can't Bookmark This ", :id=>'bookmarkme'  %><br/>

<div>
	<%=  select_tag("body[iline]", options_for_select(body.map {|v| [ v['name'], v['uid'] ] }, @uline),  :onChange =>'newline(this);'  ) %><br/>
</div>

<%= body[iline]["name"] %><br/>

<%= carousel_for(heros) %><br/>

<%= gallery_for(swatches, colornames) %>


